/* UoE Corporate colours:
Core colours
% Pantone 282
\definecolor{edinburghblue}{RGB}{0,50,95}
% Pantone 199
\definecolor{edinburghred}{RGB}{193,0,67}

%% Secondary colours
%% Muted
% Pantone 3025
\definecolor{edinburghmutedblue}{RGB}{0,84,107}
% Pantone 483
\definecolor{edinburghmutedred}{RGB}{107,48,33}
% Pantone 3435
\definecolor{edinburghmutedgreen}{RGB}{2,73,48}
% Pantone 391
\definecolor{edinburghmutedyellow}{RGB}{158,158,7}
% Pantone 643
\definecolor{edinburghmutedcyan}{RGB}{198,209,214}
% Pantone 5005
\definecolor{edinburghmutedpink}{RGB}{188,135,135}
% Pantone 7475
\definecolor{edinburghmutedturquoise}{RGB}{89,135,135}
% Pantone 7518
\definecolor{edinburghmutedorange}{RGB}{112,79,69}

%% Bright
% Pantone 207
\definecolor{edinburghbrightred}{RGB}{173,3,59}
% Pantone 226
\definecolor{edinburghbrightpink}{RGB}{209,3,115}
% Pantone 159
\definecolor{edinburghbrightorange}{RGB}{194,94,3}
% Pantone 130
\definecolor{edinburghbrightyellow}{RGB}{230,176,18}
% Pantone 2425
\definecolor{edinburghbrightmagenta}{RGB}{130,0,94}
% Pantone 3135
\definecolor{edinburghbrightblue}{RGB}{0, 153,171}
% Pantone 311
\definecolor{edinburghbrightcyan}{RGB}{41,194,222}
% Pantone 368
\definecolor{edinburghbrightgreen}{RGB}{97,191,26}
*/
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

h1 {
    color: white;
    position: relative;
    z-index: 10;
}

.remark-slide-number {
    color: white;
    opacity: 1.0;
}

div.header {
    background-color: rgb(0,50,95);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    text-align: left;
}
div.header img {
    height: 100px;
    top: 10px;
    right: 10px;
    position: fixed;
}

div.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    background-color: rgb(0,50,95);
}

div.footer img {
    height: 30px;
    bottom: 5px;
    left: 10px;
    position: fixed;
}

div.titlebox {
    background-color: rgb(0,50,95);
    color: white;
}
